<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 
 <bean class="com.app.zahid.Dependency.Student" name="Student1">
 
 <property name="StudentId">
 <value>123456</value>
 </property>
 
 <property name="StudentName">
 <value>zahid</value>
 </property>
 
 <property name="StudentAdress">
 <value>Akbarpur</value>
 </property>
 
 
 
 </bean>
 
 
 
 
 
 
 </beans>